* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

#header {
    background: #fff;
    align-items: center;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    display: inline-block;
    padding-right: 20px;
    margin-right: 10px;

}

nav ul li a {
    text-decoration: none;
    color: #000;
    font-size: 22px;
    padding-right: 20px;
}

.active-link {
    color: rgb(16, 215, 172);
}

#header img {
    width: 150px;
    margin-top: 20px;
}

i {
    font-size: 15px;
}

#hero {
    background-image: url(./images/mask-bg.png);
    height: 80vh;
    background-size: cover;
    display: flex;
    color: rgb(3, 3, 94);
}

#hero .col1 {
    flex-basis: 40%;
    margin: 50px;

}

#hero .col1 h2 {
    font-size: 60px;
    margin-bottom: 50px;
}

#hero .col2 {
    flex-basis: 45%;
}

#hero .col1 h2 span {
    color: rgb(16, 215, 172);

}

#hero .col1 p {
    font-size: 20px;
    line-height: 34px;
    text-align: justify;
}

#hero .col2 img {
    width: 700px;
}

.frame {
    margin-top: 40px;
}

.frame img {
    width: 500px;

}

.first-img {
    align-items: center;
    margin-top: 100px;
    margin-left: 130px;
}

.text-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.text1,
.text2,
.text3 {
    background-color: rgb(209, 236, 247);
    margin: 30px;
    border: none;
    border-radius: 20px;
    text-align: center;
    display: inline;
    padding: 101px 20px 20px;
    width: 350px;
    height: 500px;
}

.text1 i,
.text2 i,
.text3 i {
    font-size: 30px;
    color: rgb(0, 0, 15);
    margin-bottom: 50px;
    padding-right: 180px;
    margin-top: 20px;
}

.text1 h3,
.text2 h3,
.text3 h3 {
    font-size: 30px;
    margin-bottom: 20px;

}

.text1 p,
.text2 p,
.text3 p {
    color: #515152
    text-align: center;
    line-height: 40px;
    font-size: 16px;
}

.text1:hover {
    background: rgb(16, 215, 172);
    color: #fff;
}

.text2:hover {
    background: rgb(16, 215, 172);
    color: #fff;

}

.text3:hover {
    background: rgb(16, 215, 172);
    color: #fff;
}

.text1 p :hover {
    color: #fff;
}
.text1 i,
.text2 i,
.text3 i:hover {
    color: #fff;
}

.text2 p:hover {
    color: #fff;
}

.text3 p:hover {
    color: #fff;
}
.services{
    display: flex;
    align-items: center;
    justify-content: space-around;

}
#our-services h1{
    color: #210f60;
    font-size: 30px;
    padding-left: 100px;

}
.serv-text{
    text-align: start;
    font-size: 16px;
    width: 400px;
}
.serv-text h2{
    font-size: 35px;
    margin-bottom: 40px;
    color:#210f60;
}
.serv-text p{
    font-size: 18px;
    line-height: 35px;
    color: #515152;
}
#debit{
    padding: 0px 16px;
    text-align: center;
    align-items: center;
    background-color: #f4fefa;
}
.debit-text{
    text-align: center;
}
.debit-text h1{
    color: #210f60;
    font-size: 48px;
    font-family: sans-serif;
    margin-bottom: 20px;

}
.debit-text span{
    color: #1dc99b;
}
.debit-text p{
    font-size: 20px;
    color:#515152;
    line-height: 25px;
    width: 100%;
}
#join{
    display: flex;
    text-align: center;
    align-items: center;
}
.join{
    text-align: center;
    align-items: center;
    justify-content: center;
}

.join h1{
    margin-bottom: 50px;
    margin-top: 100px;
    text-align: center;
    color: #210f60;
    margin-left: 150px;
    font-size: 50px;
    font-family: sans-serif;
}
.join a{
    padding-left: 70px;
    text-decoration: none;
    color:#1dc99b;
    font-size: 22px;
}
.join a:hover{
    color: rgb(73, 131, 233);
    font-size: larger;

}
#download{
    background-color: #f4fefa;
    display: flex;
    align-items: center;
    margin-top: 90px;
}
.down-imgtext{
    display: flex;
}
.down-text1{
    margin-top: 50px;
    font-size: 22px;
    
}
.down-text1 p{
    line-height: 30px;
    color: #515152;
    font-size: 18px;
}
.down-text1 h6{
    margin-top: 30px;

}
.down-text1 a{
    color: #1dc99b;
    margin-left: 6px;
    text-decoration: none;

}
.down-text1 a:hover{
    color:rgb(73, 131, 233); 
}
.down-img1 img{
    border-radius: 20px;
    width: 200px;
    margin-top: 30px;
    margin-right: 20px;
}
#no-transact{
    background-color: #fff;
}
.no-transact{
    background-color: #f4fefa;
    margin-top:100px ;
    text-align: center;
    align-items: center;
    justify-content: space-around;

}
.no-transacttext{
    text-align: start;
    padding-left: 50px;
    margin-bottom: 50px;
    
}
.no-transacttext h1{
    font-size: 46px;
    padding: 20px 16px 0px;
    color: #210f60;
}
.no-transacttext p{
    font-size: 36px;
    padding: 20px 16px 0px;
    color: #210f60;

}
.security{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}
.security-head h1{
    font-size: 50px;
    color: #210f60;
    margin: 0px 0px 2px;
    padding: 0px 16px;
    margin-top: 50px;
}
.security-text{
    background-color: #fff;
    margin-top: 30px;
    width: 40%;
}
.security-text1{
    margin: 30px 20px 20px;
    background: #1DC99B0D;
    padding: 30px;
    border-radius: 20px;
    margin-left: 40px;
}
.security-text1 h2{
    font-size: 22px;
    color: #210f60;
    margin-top: 50px;
}
.security-text1 p{
    font-size: 16px;
    color: #210f60;
    line-height: 20px;
}
.security-img img{
    width: 500px;
}
#help{
    background: #fff;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 200px;

}
.help{
    background: #210f60;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    width: 90%;
    height: 600px;
    padding: 113px 0px 152px 60px;
    border-radius: 50px;
    
}
.help-text{
    width: 60%;
}
.help-text h1{
    font-size: 44px;
    margin-bottom: 30px;
}
.help-text p{
    line-height: 20px;
    margin-bottom: 50px;
}
.help-text img{
    margin: 4px 0px 0px;
    width: 20px;
    margin-right: 20px;
}
.help-text a{
    color: #1dc99b;
}
.help-img img{
    padding-bottom: 90px;
    padding-right: 70px;
}
.help-text h3{
    font-size: 16px;
}
#footer{
    background: #fff;
}
.footer{
    display: flex;
    justify-content: space-around;
    background: #1dc99b;
    color: #fff;
    margin-top: 80px;
    margin-bottom: 80px;
    padding: 81px 0px 71px;
    
}
.footer p, h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-size: larger;
    font-size: 20px;
}
.footer a{
    text-decoration: none;
    color: #fff;
    padding: 10px;
    margin-top: 6px;
    line-height: 30px;
    font-size: 18px;
}
.footer li{
    list-style: none;
}
a:hover{
    color: #210f60;
}
.cookies{
    display: flex;
    background: #1dc99b;
    color: #fff;
    margin: 15px;
    font-size: 14px;
    width: 100%;
}
.cookies button{
    color: #1dc99b;
    background-color: #fff;
    border: none;
    border-radius: 25px;
    padding: 10px 15px;
    margin: 15px;
    font-size: 14px;
    margin-right: 10px;

}

/* --------------------for mobile devices---------------- */

@media (max-width:650px){

    #header {
        background: #fff;
        align-items: center;
        display: flex;
        justify-content: space-between
    }
    #header img {
        width: 35px;
    }
    #header ul{
        display: block;
        margin: 0;
        padding: 0;
    }
    #header ul li{
        padding-right: 2px;
    }
    #header ul li a{
        font-size: 10px;
        padding: 0;
    }

}
